*{
    background-color: black;
    color: beige;
    padding: 0;
    margin: 0;
}
.box{
    background-color: blueviolet;
    color: black;
    padding: 10px;
    border: darkblue;
    margin: 10px;
    box-sizing: border-box;

}