*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}
.parent{
    background-color: black;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
   align-items: center;
    gap: 20px;
}
.card{
    background-color: white;
    color: black;
    padding: 20px;
    width: px;
    margin: 10px;gap: 10px;
    transition: 0.1s ease;
    

}
.card:hover{
    background-color: rgb(103, 103, 107);
    transform: rotate(180deg);
}
.button:hover{
    padding: 10px;
    transform: scale(1.2);
    background-color: rgb(144, 165, 42);
    color: white;
    
   
}