*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
.parent{
    background-color: rgb(113, 25, 195);
    color: black(72, 72, 71, 0.837);
    padding: 20px;
    margin: 20px;
    transition: 0.8s ease;
   
}
h3:hover{
    background-color: rgb(195, 15, 15);
    transform: scale(0.8);
}
h3{
    padding: 20px;
}
p{
    padding: 20px;
}
h3 p{
    margin: 20px;
}