*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    font-family:Arial, Helvetica, sans-serif ;

}
html{
    scroll-behavior: smooth;
}
u1{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;

}
section{
    min-height: 100vh;
}

.navbar{
    background-color: grey;
    color: black;
    display: flex; 
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    transition: 0.8s ease;
    
}

.banner:hover{
    transform: scale(1.1);
}




.logo{
 margin-left: 40px;

}

.menu{
    margin-right: 30px;
    display: flex;
    gap: 40px;

}

.menu a{
  text-decoration: none;
  color: black;
}


.input{
    width: 400px;
    padding: 18px;
    border-radius: 10px;
    border: none;
    background-color: rgb(210, 208, 208);
}

.list{
    padding: 10px;
    display: flex;
    gap: 55px;
    justify-content: centers;
    margin-left: 35px;
}

.type{
    display: flex;
    padding: 10px;
    gap: 10px;
    margin-left: 25px;
}

.banner{
    display: flex;
    padding: 10px;
    width: 50px;
    transition: 0.4s ease;
}

.footer{
    display: flex;
    gap: 200px;
    justify-content: center;
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 50px;
    background-color: rgb(77, 77, 181);
    padding-top: 60px;
    padding-bottom: 60px;
}

.nuts{

    display:flex;
    gap: 40px;
    padding: 30px;
    text-align: center;
    align-items: center;    
    
}


.fruit{

    display:flex;
    gap: 40px;
    padding: 30px;
    text-align: center;
    align-items: center;    
    
}

.offer:hover:hover{
    transform: scale(1.1);
}

.offer{
       display: flex;
    transition: 0.4s ease;
    
}